

@media (max-width: 1024px){

    /*LAYOUT*/
    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main main"
        "aside aside"
        ;
    }

    .layout__main{
        margin-right: 0rem;
    }

    /*CABECERA*/
    .layout__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*MENU ESCRITORIO*/
    .navbar__list{
        display: none;
    }

    /*MENU MOVIL*/
    .navbar__mobile-btn{
        display: flex;
    }
    .navbar__mobile-list{
        display: none;
    }

    /*SLIDER*/
    .layout__slider{
    grid-template-areas:    "slider1 slider3 slider3 slider3"
                            "slider2 slider3 slider3 slider3"
                            "slider4 slider4 slider5 slider5";
    }

    .slider__container--slider2{
        width: 100%;
        height: 16.8rem;
    }

    
    .slider__container--slider3{
        width: 100%;
        height: 33.8rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 23.5rem;
    }

    /*MEJORES MOMENTOS*/
    .highlights__posts{
        flex-wrap: wrap;
    }

    .highlights__post{
        flex-basis: 30%;
        gap: 0.5rem;
        margin: 0 auto;
    }

    /*VIDEOS*/
    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .main-video__yt-video {
    width: 100%;
    height: 42rem;
    margin: auto;
    }

    .main-video__detail{
        width: 100%;
        margin: 0 auto;
    }

    .videos__list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .videos__video{
        width: calc(50% - 1rem);
    }

    /*CARRUSEL*/
    .carousel-games__item{
        width: 100%;
    }

    .carousel-games__item--hidden{
        display: none;
    }

    /*BARRA LATERAL ASIDE*/
    .layout__aside{
        margin-bottom: 3rem;
    }

    /*FOOTER - PIE DE PAGINA*/
    .footer__container{
        width: 70%;
        min-width: 70rem;
        flex-direction: column;
    }

    .footer__left-container,
    .footer__center-container,
    .footer__right-container{
        width: 100%;
    }

    .footer__fslider{
        width: auto;
        height: auto;
    }

    .footter__text{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 820px){

    /*MEJORES MOMENTOS*/
    .highlights__posts{
        display: flex;
        flex-wrap: wrap;
    }

    .highlights__post{
        flex-basis: 30%;
        gap: 0.5rem;
    }
}

@media (max-width: 775px){

    /*LAYOUT*/
    .layout{
        width: 65%;
        min-width: 65rem;
        margin: 0 auto;
    }

    /*SLIDER*/
    .slider__container--slider2{
        width: 100%;
        height: 11.8rem;
    }

    
    .slider__container--slider3{
        width: 100%;
        height: 26.8rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 21.25rem;
    }

    /*MEJORES MOMENTOS*/
    .highlights__posts{
        display: block;
    }

    .highlights__post{
        width: 100%;
    }

    /*VIDEOS*/
    .main-video__yt-video {
    width: 100%;
    height: 36rem;
    }

    /*FOOTER - PIE DE PAGINA*/
    .footer__container{
        width: 65%;
        min-width: 65rem;
        flex-direction: column;
    }
}

@media (max-width: 592px){
    /*LAYOUT*/
    .layout{
        width: 50%;
        min-width: 50rem;
        margin: 0 auto;
    }

    /*SLIDER*/
    .layout__slider{
    grid-template-areas:    "slider1 slider1 slider1 slider1"
                            "slider2 slider2 slider2 slider2"
                            "slider3 slider3 slider3 slider3"
                            "slider4 slider4 slider4 slider4"
        ;
        column-gap: 0;
        grid-template-columns: 100%;
    }

    .slider__container--slider2{
        width: 100%;
        height: auto;
    }

    
    .slider__container--slider3{
        width: 100%;
        height: auto;
    }

    .slider__container--slider5{
        width: 100%;
        height: auto;
    }

    /*MEJORES MOMENTOS*/
    .highlights__posts{
        display: block;
    }

    .highlights__post{
        width: 100%;
    }

    /*VIDEOS*/
    .main-video__yt-video {
    width: 100%;
    height: 21rem;
    }

    .videos__list{
        flex-direction: column;
    }

    .videos__video{
        width: 100%;
    }

    /*NOTICIAS*/
    .news__main-post{
        flex-direction: column;
    }
    .news__list{
        flex-direction: column;
    }

    /*JUEGOS*/
    .games__container{
        flex-direction: column;
    }

    .games__game{
        width: 100%;
    }

    /*ULTIMOS ARTICULOS*/
    .posts__container{
        flex-direction: column;
    }

    .posts__post{
        flex-basis: 100%;
    }

    .post__img{
        width: 100%;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footer__container{
        width: 50%;
        min-width: 50rem;
    }

    .footter__text{

        max-width: 90%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}

@media (max-width: 550px){
    /*LAYOUT*/
    .layout{
        width: 45%;
        min-width: 45rem;
        margin: 0 auto;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footer__container{
        width: 45%;
        min-width: 45rem;
    }

    .footter__text{
        max-width: 100%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}

@media (max-width: 480px){

    /*MEJORES MOMENTOS*/
    .highlights__subheader > .subheader__title{
        padding-right: 2.8rem;
    }

    /*VIDEOS*/
    .videos__subheader > .subheader__title{
        padding-right: 4.2rem;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footter__text{
        max-width: 100%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}

@media (max-width: 430px){

    /*MEJORES MOMENTOS*/
    .highlights__subheader > .subheader__title{
        font-size: 1.25rem;
        padding-right: 4rem;
    }

    /*VIDEOS*/
    .videos__subheader > .subheader__title{
        font-size: 1.25rem;
        padding-right: 5.3rem;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footter__text{
        max-width: 100%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}

@media (max-width: 372px){

    /*MEJORES MOMENTOS*/
    .highlights__subheader > .subheader__title{
        font-size: 1.25rem;
        padding-right: 4rem;
    }

    /*VIDEOS*/
    .videos__subheader > .subheader__title{
        font-size: 1.25rem;
        padding-right: 5.3rem;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footter__text{
        max-width: 100%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}

@media (max-width: 350px){
    /*LAYOUT*/
    .layout{
        width: 90%;
        min-width: auto;
        margin: 0 auto;
    }

    /*SLIDER*/
    .layout__slider{
        grid-template-columns: 100%;
    }

    .slider__container--slider2{
        width: 100%;
        height: auto;
    }

    
    .slider__container--slider3{
        width: 100%;
        height: auto;
    }

    .slider__container--slider5{
        width: 100%;
        height: auto;
    }

    /*MEJORES MOMENTOS*/
    .highlights__subheader > .subheader__title{
        font-size: 1.25rem;
        padding-right: 0.5rem;
    }

    /*FOOTER -PIE DE PAGINA*/
    .footer__container{
        width: 90%;
        min-width: auto;
        margin: 0 auto;
    }

    .footter__text{
        max-width: 100%;
        overflow-wrap: break-word; /* o word-wrap: break-word; */
        white-space: normal;
    }
}